<%= title 'Poll Question Types', link_to('New Poll Question Type', new_poll_question_type_path) %>

<table id="poll_question_types" class="display is-datatable">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
  <% @poll_question_types.each do |poll_question_type| %>
    <tr>
      <td><%= poll_question_type.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>