<%= title 'Questions', link_to('New Question', new_question_path) %>

<table id="questions" class="display is-datatable">
  <thead>
    <tr>
      <th>Stem</th>
      <th>Model Answer</th>
    </tr>
  </thead>

  <tbody>
  <% @questions.each do |question| %>
    <tr>
      <td>
        <%= question.stem %>
        <%= link_to 'Edit', edit_question_path(question), class: 'float-right' %>
      </td>
      <td><%= question.model_answer %></td>
    </tr>
  <% end %>
  </tbody>
</table>
