<%= title @employee.name, 
  (link_to('Editar', edit_employee_path(@employee)) if can?(:update, @employee)),
  link_to('Voltar', employees_path) %>

<div id='employee_important_fields'>
  <div class='resource'>
    <p><span>Email: </span><%= @employee.email %></p>
    <p><span>Credenciais: </span><%= @employee.roles.map{|role| Employee.translate_role(role.titleize)}.join(', ') %></p>
  </div>
</div>
