<a href='<%= edit_klazz_calendar_path(period) %>'>
  <div class='period filled'>
    <p>
      <span><%= period.teaching_assignment.teacher.nickname %></span><br />
      <%= period.teaching_assignment.subject.code %> 
    </p>
  </div>
</a>