<div id="campus_head_teacher">
  <%= link_to 'Klazzes', klazzes_path %><br />
  <%= link_to 'Employees', employees_path %><br />
  <%= link_to 'Campuses', campuses_path %><br />
  <%= link_to 'Card Processings', card_processings_path %>
</div>