<%= title 'Polls', link_to('New Poll', new_poll_path) %>

<table id='polls' class='display is-datatable'>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
  <% @polls.each do |poll| %>
    <tr>
      <td>
        <%= poll.name %>
        <%= link_to 'Show', poll, class: 'float-right' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>