<a href='<%= edit_klazz_calendar_path(klazz_period) %>'>
  <div class='klazz_period filled'>
    <p>
      <span><%= klazz_period.teaching_assignment.teacher.nickname %></span><br />
      <%= klazz_period.teaching_assignment.subject.code %> 
    </p>
  </div>
</a>