<%= title 'Question Types' %>

<table id="question_types" class="display">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
  <% @question_types.each do |question_type| %>
    <tr>
      <td><%= question_type.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Question Type', new_question_type_path %>
