<%= title 'Campuses', 
  (link_to('New Campus', new_campus_path) if can?(:create, Campus)) %>

<table id='campuses' class='display is-datatable'>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @campuses.each do |campus| %>
      <tr>
        <td>
          <%= campus.name %>
          <span>
            <%= link_to('Show', campus) %> 
            <% if can?(:update, campus) %>
              | <%= link_to('Edit', edit_campus_path(campus)) %>
            <% end %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>