<%= title 'Campuses', link_to('New', new_campus_path) %>

<table id='campuses' class='display is-datatable'>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @campuses.each do |campus| %>
      <tr>
        <td>
          <%= campus.name %>
          <span class='float-left'>
            <%= link_to('Show', campus) %> |
            <%= link_to('Edit', edit_campus_path(campus)) %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>