<%= title 'Campus - ' + @campus.name, 
  (link_to('Edit', edit_campus_path(@campus)) if can?(:update, @campus)),
  link_to('Back', campuses_path) %>

<div class='tabs'>
  <ul>
    <li><a href='#info_tab'>Info</a></li>
    <% if false %>
    <li><%= link_to 'Calendar', campus_periods_path(@campus), title: 'calendar_tab' %></li>
    <% end %>
  </ul>

  <div id='info_tab' class='resource'>
    <p><span>Name: </span><%= @campus.name %></p>
    <p><span>Klazzes: </span><%= @campus.klazzes.map(&:name).join(', ') %></p>
  </div>

  <div id='calendar_tab'></div>
</div>