<%= title 'Arquivos enviados' %>

<table id='card_processings' class='display is-remote-datatable card_processing_datatable'>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Criação</th>
      <th>Status</th>
      <th>Erros/Total</th>
      <th>Data Aplicação</th>
      <th>Unidade</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
