<%= title 'Card Processings', 
  link_to('New Card Processing', new_card_processing_path) %>

<table id='card_processings' class='display is-remote-datatable card_processing_datatable'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Created at</th>
      <th>Status</th>
      <th>Errors/Total</th>
      <th>Exam date</th>
      <th>Campus</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
