@mixin naked { margin: 0; border: 0; padding: 0; }

#calendar_tab {
  $font_color: #666;
  $font_size: 16px;

  $border_width: 1px;
  $border_color: #999;

  $calendar_width: 900px;
  $time_cell_width: 60px;
  $cell_width: 140px;
  $cell_height: 60px;

  $empty_color: #fff;     // white
  $past_color: #65FD67;   // green
  $future_color: #F6FD65; // yellow
  $absent_color: #FD6565; // red
  $loading_color: #ddd;   // grey
  $selected_color: #ddd;  // grey

  color: $font_color;
  font-size: $font_size;
  a { text-decoration: none; }

  .navigation {
    h2 {
      float:left;
      a { font-weight: bold; }
    }

    .search { 
      float: right; 
      margin-top: 20px;
      margin-right: 10px;
      input { width: 85px; }
    }
  }

  .calendar {
    width: $calendar_width;
    border-collapse: collapse;
    a { color: $font_color; }
  }

  tr, th, td { @include naked; }

  td {
    vertical-align: middle;
    background-color: $empty_color;
    border: $border_width solid $border_color;
    height: $cell_height;
    span { font-weight: bold; }
  }

  .time_cell { width: $time_cell_width; }
  .day_cell, .cell { width: $cell_width; }
  .time_cell, .day_cell { text-align: center; }

  .klazz_period {
    @include naked;
    float: left;
    height: $cell_height;
    width: $cell_width - $border_width;
    overflow: hidden;
  }

  .filled {
    border-right: $border_width solid $border_color;
    p {
      margin-top: 7px;
      margin-left: 5px;
    }
  }

  .empty {
    border: none;
  }

  .selected {
    background-color: $selected_color;
  }

  .klazz_period_form {
    border: $border_width solid $border_color;
    width: 620px;
    padding: 20px;
    padding-top: 0;
    position: absolute;
    background-color: white;
  }
}