@mixin has-border {
  border: 1px solid #999;
  border-radius: 15px;
}

#employee_important_fields {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;

  .resource {
    float:left;
    width: 700px;
  }
  #photo {
    float: right;
    margin-top: 20px;
    width: 150px;
  }
}

.form-inputs {
  position: relative;
  #image {
    position: absolute;
    top: 0; right: 50px;
    width: 300px;

    img {
      margin-left: 100px;
    }
    label { 
      width: 50px; 
      margin-top: 10px;
    }
    #employee_photo { 
      margin-top: 10px;
    }
    #remove_label { 
      width: 100px; 
      margin-left: 80px;
      margin-top: 0;
    }
  }
}

#prof_exp_fields {
  width: 700px;
  @include has-border;
  margin-bottom: 20px;
  h3 { margin-left: 50px; }
}

.add_field {
  margin-bottom: 20px;
  position: relative;
  margin-left: 180px;
  margin-top: 0;
}

#employee_post_graduated {
  display: block;
  clear: both;
}

#employee_post_graduated_comment { margin-bottom: 15px; }

#product_group_preferences {
  margin-left: 30px;
  margin-bottom: 30px;
  @include has-border; 

  th, td { width: 120px; }
  colgroup { width: 250px; }
  td label { width: 100%; }
  td.error { margin-left: 0; }
  td.radio {
    input { margin-left: 70px; }
    label { display: none; }
  }
}

#timetable_preferences {
  @include has-border; 
  margin-left: 30px;
  text-align: center;

  th, td {
    width: 100px; 
    p {
      width: 150px; 
    }
  }
  label.checkbox { margin-left: 50px; }
}

#teacher_campus_ids, #teacher_campus_ids_chzn {
  margin-bottom: 10px;
  margin-left: 180px;
  width: 400px;
}

#weekend {
  margin-left: 110px;
  margin-bottom: 30px;
  td.first { text-align: right; }
  label { 
    margin-left: 5px; 
    margin-top: 5px;
  }
}

#administrative_job_wrapper {
  margin-bottom: 10px;
  label { 
    width: 320px; 
    margin-left: -5px;
  }
  input { margin-top: 4px; }
}

.form-actions {
  th {
    width: 180px;
    input { 
      float: right;
      margin-top: -25px;
      margin-right: 10px; 
    }
  }
}

#agree_with_terms_wrapper {
  float: left;
  label { 
    margin-left: 0;
    margin-top: 0;
  }
}