.section {
  width: 450px;
  float: left;
  padding: 5px;
  margin: 9px;
  border: 1px solid #555555;
  border-radius: 10px;

  .link {
    margin: 5px;
    width: 140px;
    float: left;
    text-align: center;
    a {
      text-decoration: none;
    }
  }
}