<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row><Cell><Data ss:Type="String">Lista de Presença</Data></Cell></Row>
      <Row><Cell><Data ss:Type="String"><%= @klazz.name %></Data></Cell></Row>
      <Row>
        <Cell><Data ss:Type="String">Nome</Data></Cell>
        <Cell><Data ss:Type="String">RA</Data></Cell>
        <Cell><Data ss:Type="String">Assinatura</Data></Cell>
      </Row>
    <% @klazz.enrolled_students.each do |student| %>
      <Row>
        <Cell><Data ss:Type="String"><%= student.name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= student.ra %></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>