<%= title 'Produtos', link_to('Novo Produto', new_product_path) %>

<table id='products' class='display is-datatable'>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Segmento</th>
    </tr>
  </thead>

  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td>
        <%= product.name %>
        <%= link_to 'Editar', edit_product_path(product), class: 'float-right' %>
      </td>
      <td><%= product.product_type.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>
