<%= title 'Question Categories' %>

<table id="question_categories" class="display">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
  <% @question_categories.each do |question_category| %>
    <tr>
      <td><%= question_category.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Question Category', new_question_category_path %>
